# Godot 4+ specific ignores
.godot/

# Ignore library files but not the gdextension file
SimpleRunner/bin/*
!SimpleRunner/bin/*.gdextension

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# Other stuff
*.log
.DS_Store